{% extends 'base.html' %}


{% block content %}

{% if request.GET.command == 'verification' %}

<div class="container mx-auto alert alert-info" role="alert" style="max-width:380px; margin: top 100px;">
  Thank you registering with us. We have sent you verification email to your email address [{{ request.GET.email }}]
  <br><br>
  Already verified? <a href="{% url 'login' %}">Login</a>
</div>

{% else %}

  <div class="bg-dark" style="max-width:500px; border-radius:10px; margin-top:40px; margin-left: 30%; background-color: rgb(92, 97, 95);">
    <div class="card mx-auto"
      style="max-width:600px; max-height: 600px; border-radius:10px; margin-top:40px;  color: azure;">
      {% include 'includes/alerts.html' %}

      <article class="card-body"><br><br>
    
        <header class="mb-4">
          <h1 class="card-title text-center" style="color: azure;">SIGN IN</h1>
        </header>

        <br><br>
        <div class="container-fluid">
          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
  
            <div class="form-row">
              <div class="form-group col-auto">
                <input type="email" id="typeEmailX-2" class="form-control" name="email" />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>
            </div>
  
            <div class="form-group col-10">
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password" />
              <label class="form-label" for="typePasswordX-2">Password</label><br><br>
            </div>
  
            <!-- Checkbox -->
           
  
            <button type="submit" class="btn" style="margin-left: 45%; background-color: rgb(70, 172, 131);"> Login </button>
  
            <!-- <hr class="my-4"> -->
  
            <!-- <div class="text-center">
              <a class="btn btn-lg btn btn-primary" style="background-color: #dfaaa3;"
              type="submit"><i class="fab fa-google me-2"></i> Sign in with google</a><br><br>
            <a class="btn btn-lg btn btn-primary me-2" style="background-color: #899abe;"
              type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</a><br><br>
            </div> -->
          </form>
        </div>

      </article><!-- card-body.// -->
    </div> <!-- card .// --><br>
    </div>
    <br><br>
    <p class="text-center mt-4">Have Account? <a href="{% url 'login'%}">Log In</a></p>
{% endif %}
{% endblock %}