{% extends 'base.html' %}


{% block content %}
<!-- <div class="ml-5">
<section class="title" style="max-width:600px; border-radius:10px; background-color: rgb(92, 97, 95);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong " style="border-radius: 1rem;">
            <div class="card-body p-5 text-center " style="color:azure;"><br><br>
  
              <h3 class="mb-5" style="color:azure;" >Sign in</h3><br><br>
  
              <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}

                <div class="form-group col-md-9">
                  <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="email" />
                  <label class="form-label" for="typeEmailX-2">Email</label><br><br>
                </div>
    
                <div class="form-group col-md-9">
                  <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password" />
                  <label class="form-label" for="typePasswordX-2">Password</label><br><br>
                </div>
    
                <!-- Checkbox -->
               
<!--     
                <button type="submit" class="btn" style="margin-left: 50%; background-color: rgb(70, 172, 131);"> Login </button>
    
                <hr class="my-4">
    
                <button class="btn btn-lg btn btn-primary" style="background-color: #dd4b39;"
                  type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button><br><br>
                <button class="btn btn-lg btn btn-primary me-2" style="background-color: #3b5998;"
                  type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button><br><br>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <p class="text-center mt-4">Have no account? <a href="{% url 'register'%}">Register</a></p> --> -->

  <div class="bg-dark" style="max-width:600px; border-radius:10px; margin-top:40px; margin-left: 28%; background-color: rgb(92, 97, 95);">
    <div class="card mx-auto"
      style="max-width:600px; max-height: 600px; border-radius:10px; margin-top:40px;  color: azure;">
      <article class="card-body"><br><br>
        {% include 'includs/alerts.html' %}
    
        <header class="mb-4">
          <h1 class="card-title text-center" style="color: azure;">SIGN IN</h1>
        </header>
        <br><br>
        <div class="container-fluid">
          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
  
            <div class="form-row">
              <div class="form-group col-auto">
                <input type="email" id="typeEmailX-2" class="form-control" name="email" />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>
            </div>
  
            <div class="form-group col-10">
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password" />
              <label class="form-label" for="typePasswordX-2">Password</label><br><br>
            </div>
  
            <!-- Checkbox -->
           
  
            <button type="submit" class="btn" style="margin-left: 45%; background-color: rgb(70, 172, 131);"> Login </button>
  
            <hr class="my-4">
  
            <div class="text-center">
              <a class="btn btn-lg btn btn-primary" style="background-color: #dfaaa3;"
              type="submit"><i class="fab fa-google me-2"></i> Sign in with google</a><br><br>
            <a class="btn btn-lg btn btn-primary me-2" style="background-color: #899abe;"
              type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</a><br><br>
            </div>
          </form>
        </div>

      </article><!-- card-body.// -->
    </div> <!-- card .// --><br>
    </div>
    <br><br>
    <p class="text-center mt-4">Have Account? <a href="{% url 'login'%}">Log In</a></p>

  {% endblock %}