{% extends 'accounts/admin_dashboard/base_dashboard.html' %}


{% block content %}

<section class="section-conten padding-y bg" style= background-color:#474343;>
    
    <div class="container ">
      <h2 class="text-center  text-light mb-5">DASHBOARD</h2>
        <div class="row">
        <aside class="col-md-3">
           
        </aside>
        <main class="col-md-12 align-items-center">
            <div class="row">
                <div class="col-sm-6 text-center">
                  <div class="card bg-success">
                    <div class="card-body">
                      <h5 class="card-title">Total Users</h5>
                      <p class="card-text text-gray-light h3">{{user_count}}</p>
                      <a href="{% url 'user_management' %}" class="btn btn-gray-light">View Users</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="card bg-success">
                      <div class="card-body">
                        <h5 class="card-title">Total Products</h5>
                        <p class="card-text text-gray-light h3">{{product_count}}</p>
                        <a href="{% url 'product_management' %}" class="btn btn-gray-light">View Products</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 text-center">
                    <div class="card bg-success mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Total Orders</h5>
                        <p class="card-text text-gray-light h3">{{order_count}}</p>
                        <a href="{% url 'order_management' %}" class="btn btn-gray-light">View Orders</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 text-center">
                    <div class="card bg-success mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Product Category</h5>
                        <p class="card-text text-gray-light h3">{{category_count}}</p>
                        <a href="{% url 'category_management' %}" class="btn btn-gray-light">View Categories</a>
                      </div>
                    </div>
                  </div>
                  
                  
              </div>
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}