@media (min-width: 1200px){
    .container {
        width: 1248px !important;
    }
    
    }
    
    body{
      overflow-x: hidden;
    }
    
    .middleTop {
            margin: 0 auto;
        padding: 50px 0;
        max-width: 1600px;
        min-width: 1024px;
        background-color: #000000db;
    
    }
    
    .middle-heading {
        font-family: "font-bold";
        font-size: 14px;
        color: #fff;
        margin-left: 38px;
        padding-bottom: 15px;
        text-transform: uppercase;
    }
    
    .middle-content {
        font-size: 12px;
        color: #777 !important;
        list-style-type: none;
        max-width: 210px;
    }
    
    .middleContent-footer .middleTop div {
        box-sizing: border-box;
    }
    
    .middleBottom {
        background-color: #000;
        text-align: center;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        padding: 12px 0;
    }
    
    .middleBottomFooter {
        text-transform: uppercase;
        font-size: 14px;
        color: #344c55;
        text-align: left;
        background-color: #000;
    }
    
    .underLineOnHover{
      color:#fff;
    }
     
    .bottomfooter{
      background-color: #000;
    }
    
    .copyright{
      color:#fff;
    }
    
    .address{
       color: #fff;
    }